@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.logo_container{
    height: 100%;
    display: table;
    float: right;
    vertical-align: middle;
}
h1{
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    font-weight: 200;
}
span{
    font-weight: 800;
    

}